html{
	background: linear-gradient(90deg, #5f2c82, #49a09d);
}

body{
	margin-left
}

.input1{
	margin-left: 3%;
	width: 43%;
	height: 2%;
	font-family: serif, sans-serif;
}

.input2{
	margin: 3%;
	width: 16.2%;
	height: 2%;
	font-family: serif, sans-serif;
}

.input3{
	margin: 3%;
	width: 16.2%;
	height: 2%;
	font-family: serif, sans-serif;
}

.input4{
	margin-left: 3%;
	width: 35%;
	height: 2%;
	font-family: serif, sans-serif;
}

textarea{
	resize: none;
	float: top;
	font-family: serif, sans-serif;
	position: absolute;
	margin-left: 2%;
	width: 35%;
	height: 12%;

}

img{
	margin-top: -0.5%;
	float: top;
	position: absolute;
	margin-left: 2.5%;
	width: 35.5%;
	height: 47%;

}



	