body{
	background-color: black;
}
h1{
	color: white;
}
h2{
	color: lightgray;
}
h3{
	color: white;
	text-decoration: underline;
}
li{
	color: white;
}
p{
	color: white;
}
br{
	color: white;
}
a:visited{
	color: lightyellow;
}
a:link{
	color: lightyellow;
}
.title{
	position: relative;
	top: -1ex;
}
.title2{
	color: white;
}
.choice{
	color: lightyellow;
}
.photo1{
	position: absolute;
	top: 150px;
	right: 150px;
	z-index: 1;
}
.photo2{
	position: absolute;
	top: 360px;
	right: 30px;
	z-index: 2;
}
.photo3{
	position: absolute;
	top: 560px;
	right: 220px;
	z-index: 3;
}
body{
	font-family: serif, sans-serif;
	padding: 20px;
	color: white;
	background-color: black;
}
nav{
	font-weight: bold;
	color: white;
	text-align: center;
	
}

.adjust{
	top: 190px;
	left: 740px;
	position: absolute;
	border: 3px solid royalblue;
	background-color: royalblue;
	width: 10em;

}
nav ul{
	display: none;
	list-style: none;
	top: 200px;
	left: 700px;
	position: absolute;
	width: 10em;

}
nav:hover ul{
	display: block;

}
nav ul li{
	border-right: 1px solid royalblue;
	background: lightblue;
	width: 10em;
	padding: 1px;
	margin: 1px;

}
nav ul li:hover{
	background-color: powderblue;

}
a{
	text-decoration: none;
}


